<%= provide :title, "Home" %>

<head>
    <title><%= yield(:title)%></title>
</head>

<div class="center jumbotron">
    <h1>Welcome to Orbit</h1>
    <h2>
        This is the homepage of the orbit application.
        <a href="https://github.com/tstaunton/orbit001">My Github Account.</a>
    </h2>

    <%= link_to "Create an account", sign_up_path, class: "btn btn-lg btn-primary"%>
</div>
